# Unity License Activation
#
# This workflow generates a Unity activation request file (.alf)
# that you can use to get a license file (.ulf).
#
# Steps:
# 1. Run this workflow
# 2. Download the Unity_Activation_File artifact
# 3. Go to https://license.unity3d.com/manual
# 4. Upload the .alf file
# 5. If "Personal" option is hidden, inspect element and remove 'display: none' from the option-personal div
# 6. Download the .ulf file
# 7. Run: gh secret set UNITY_LICENSE < Unity_*.ulf

name: Activate Unity License

on:
  workflow_dispatch: {}

jobs:
  request-alf:
    name: Generate Activation File
    runs-on: ubuntu-latest
    container:
      image: unityci/editor:ubuntu-2022.3.0f1-base-3
    steps:
      - name: Generate activation file
        run: |
          unity-editor -quit -batchmode -nographics -createManualActivationFile -logFile /dev/stdout || true
          ls -la *.alf || echo "No .alf file found"

      - name: Upload activation file
        uses: actions/upload-artifact@v4
        with:
          name: Unity_Activation_File
          path: "*.alf"
          retention-days: 1
          if-no-files-found: warn
