# Unity License Activation Workflow
#
# This workflow generates the activation file (.alf) needed to obtain a Unity license.
#
# HOW TO USE:
# 1. Go to Actions tab and run this workflow manually
# 2. Download the 'Unity_Activation_File' artifact
# 3. Go to https://license.unity3d.com/manual
# 4. Upload the .alf file and follow the instructions
# 5. Download the resulting .ulf license file
# 6. Go to Repository Settings > Secrets and variables > Actions
# 7. Create a new secret named UNITY_LICENSE
# 8. Paste the entire contents of the .ulf file as the value
#
# For more details: https://game.ci/docs/github/activation

name: Unity License Activation

on:
  workflow_dispatch: {}

jobs:
  request-activation:
    name: Request Unity Activation File
    runs-on: ubuntu-latest
    steps:
      - name: Request activation file
        uses: game-ci/unity-request-activation-file@v2
        id: getAlf

      - name: Upload activation file
        uses: actions/upload-artifact@v4
        with:
          name: Unity_Activation_File
          path: ${{ steps.getAlf.outputs.filePath }}
          retention-days: 1
